<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">LOGO</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/"
          >Home <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/etudiant">Student</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/user">Users</a>
      </li>
      <!-- <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" routerLink="/product/liste">Product</a>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" *ngIf="!isAuth">
          <a class="nav-link" routerLink="/login">LogIn</a>
        </li>
        <!-- <li class="nav-item" *ngIf="isAuth">
          <a class="nav-link" (click)="logOut()"
            ><mat-icon mat-list-icon class="">shopping_cart</mat-icon></a
          >
        </li> -->

        <mat-list-item *ngIf="isAuth">
          <a class="nav-link" (click)="logOut()">
            <mat-icon mat-list-icon class="chevron-button sidenav-button"
              >logout</mat-icon
            ></a
          >
        </mat-list-item>
      </ul>
    </div>
  </div>
</nav>
