<mat-toolbar color="primary">
  <span>Listes des Produits</span>
  <div fxHide.lt-md>
    <span class="column-label">Columns</span>
    <mat-slider
      [max]="6"
      [min]="3"
      [(ngModel)]="gridColumns"
      [thumbLabel]="true"
    >
    </mat-slider>
  </div>
</mat-toolbar>
<div class="content my-4 ml-4 mr-4">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
      fxFlex.xs="100%"
      fxFlex.sm="33%"
      *ngFor="let num of [1, 2, 3, 4, 5, 6, 7]"
      [fxFlex]="100 / gridColumns + '%'"
    >
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Mountains {{ num }}</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/Angular-11.png" />
        <mat-card-content>
          <p>The Himalayas is a mountain range in Asia.</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-stroked-button color="primary">Primary</button>
          <button mat-stroked-button color="primary">Primary</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
