<div class="container mt-4" id="container">
  <div class="form-container sign-in-container">
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <h1>Sign in</h1>
      <input type="email" placeholder="Email" formControlName="login" />
      <input
        type="password"
        placeholder="Password"
        formControlName="password"
      />
      <button type="submit">Sign In</button>
    </form>
  </div>
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>Welcome Back!</h1>
        <p>To keep connected with us please login with your personal info</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>Hello, Friend!</h1>
        <p>Enter your personal details and start journey with us</p>
      </div>
    </div>
  </div>
</div>
