<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon
          mat-list-icon
          (click)="showHide()"
          class="chevron-button sidenav-button"
          [ngClass]="{ rotated: isExpanded }"
          >chevron_right</mat-icon
        >
      </mat-list-item>
      <mat-list-item [routerLink]="'liste'">
        <mat-icon mat-list-icon class="">shopping_cart</mat-icon>
        <span *ngIf="isExpanded">Liste</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'user'">
        <mat-icon mat-list-icon class="">supervisor_accounts</mat-icon>
        <span *ngIf="isExpanded">Users</span>
      </mat-list-item>
      <mat-list-item [routerLink]="'info'">
        <mat-icon mat-list-icon class="">help_center</mat-icon>
        <span *ngIf="isExpanded">Information</span>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <div class="containers">
    <mat-toolbar>
      <h4>Produit</h4>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
