mat-sidenav-container {
  height: 42.7em;
  margin-left: 2px;
}
mat-sidenav {
  background-color: #d1b0bb;
  width: auto;
}
mat-sidenav {
  mat-nav-list {
    .chevron-button {
      transition: 600ms ease-in-out;
      transform: rotate(0deg);
      float: right;
      position: absolute;
    }
    .chevron-button.rotated {
      transform: rotate(180deg);
    }
    overflow: auto;
    overflow-x: hidden;
  }
}
.content {
  margin-left: 20px;
  margin-top: 20px;
}
